* {
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    flex-direction: row;
    /* position: relative; */
    height: 100%;
}

#navbar:before {
    content: "";
    /* background-color: red; */
    width: 100%;
    height: 18%;
    position: absloute;
    z-index: -1;
    position: absolute;
    background-image: linear-gradient(90deg, orange, yellow, green);
    /* opacity: -4.6; */
    /* margin-top: -8px; */
    top:0px;
    left: 0px;
}

#nav {
    display: flex;
    flex-direction: row;
    /* top: 0px;
    left: 0px; */
    /* margin-left: 51px; */
}

ul li {
    list-style: none;
    margin-left: 74px;
    padding: 2px;
    font-size: 1.3rem;
}

#logo {

    /* margin-right: -35px; */
    margin-left: -9px;
    color: #0c8d0c;
    font-size: 1.4rem;
    font-family: cursive;
}

#Home {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 612px;
}

#Home::before {
    content: "";
    background: url(images/halloween-7494260_1920.jpg);
    width: 100%;
    height: 774px;
    position: absolute;
    z-index: -2;
    /* margin-top: -181px; */
    margin-top: -79px;
    /* margin-right: -57px; */
    /* margin-left: -16px; */
    top: 0px;
    left: 0px;
}

#header {
    color: white;
    font-size: rem;
    font-size: 3.4rem;
}

#Para {
    color: red;
    font-family: cursive;
    font-size: 8.3rem;
    background-color: black;
    opacity: 0.5;
     width: 1000px;
}


p {
    /* color: red; */
    font-size: 28px;
    margin-top: 34px;
}

#featured {
    display: flex;
    flex-direction: row;
    /* position: relative; */
    height: 544px;
    
}

#featured::before {
    content: "";
    width: 100%;
    position: absloute;
    background-color: #565683;
    z-index: -1;
    position: absolute;
    height:1650px;
    top: 695px;
    left: 0px;
}

#header2 {
    color: white;
    font-size: rem;
    font-size: 2.0rem;
    font-family: system-ui;
  
}

#image1 {
    height: 250px;
    width: 250px;
    margin-top: 81px;
    /* margin-right: -54px; */
    margin-left: -237px;
    border: 2px red dotted;
    border-radius: 25px;
 } 

 #image1:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all, 0.3s;
}

#para4 {
    color: white;
    margin-left: -208px;
    margin-top: -136px;
    font-size: 25px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
#image2 {
    height: 250px;
    width: 250px;
    margin-top: -178px;
    /* margin-right: -54px; */
    margin-left: 55px;
    border: 2px red dotted;
    border-radius: 25px;
}

 #image2:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all, 0.3s;
}

#para3 {
    color: white;
    margin-left: 112px;
    margin-top: -135px;
    font-size: 25px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
#image3 {
    height: 250px;
    width: 250px;
    margin-top: -201px;
    margin-left: 339px;
    border: 2px dotted red;
    border-radius: 25px;
}

 #image3:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all, 0.3s;
}

#para5 {
    color: white;
    margin-left: 393px;
    margin-top: -100px;
    font-size: 21px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
#image4 {
    height: 250px;
    width: 250px;
    margin-top:-217px;
    /* margin-right: -54px; */
    margin-left: 626px;
    border: 2px red dotted;
    border-radius: 25px;
}

 #image4:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all, 0.3s;
}

#para6 {
    color: white;
    margin-left: 672px;
    margin-top: -103px;
    font-size: 22px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
#image5 {
    height: 250px;
    width: 250px;
    margin-top: 67px;
    /* margin-right: -54px; */
    margin-left: 626px;
    border: 2px red dotted;
    border-radius: 25px;
}

 #image5:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all, 0.3s;
}

#para7 {
    color: white;
    margin-left: 672px;
    margin-top: -128px;
    font-size: 22px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
#image6 {
    height: 250px;
    width: 250px;
    margin-top: -184px;
    /* margin-right: -54px; */
    margin-left: 348px;
    border: 2px red dotted;
    border-radius: 25px;
}

 #image6:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all, 0.3s;
}

#para8 {
    color: white;
    margin-left: 415px;
    margin-top: -111px;
    font-size: 22px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
#image7 {
    height: 250px;
    width: 250px;
    margin-top: -208px;
    /* margin-right: -54px; */
    margin-left: 57px;
    border: 2px red dotted;
    border-radius: 25px;
}

 #image7:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all, 0.3s;
}

#para9 {
    color: white;
    margin-left: 93px;
    margin-top: -111px;
    font-size: 22px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
#image8 {
    height: 250px;
    width: 250px;
    margin-top: -243px;
    /* margin-right: -54px; */
    margin-left: -228px;
    border: 2px red dotted;
    border-radius: 25px;
}

 #image8:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all, 0.3s;
}

#para10 {
    color: white;
    margin-left: -196px;
    margin-top: -111px;
    font-size: 22px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
/* upcoming */
h3 {
    color: red;
    margin-top: 711px;
    /* margin-right: -24px; */
    margin-left: -1100px;
    font-size: 36px;
    color: white;
}
#image9 {
    height: 250px;
    width: 250px;
    margin-top: 785px;
    /* margin-right: -54px; */
    margin-left: -174px;
    border: 2px red dotted;
    border-radius: 25px;
}
 #image9:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all, 0.3s;
}

#para11{
    color: white;
    margin-left: -152px;
    margin-top: -111px;
    font-size: 22px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
#image10 {
    height: 250px;
    width: 250px;
    margin-top: 785px;
    /* margin-right: -54px; */
    margin-left: 42px;
    border: 2px red dotted;
    border-radius: 25px;
}
 #image10:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all, 0.3s;
}

#para12{
    color: white;
    margin-left: 78px;
    margin-top: -111px;
    font-size: 22px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
#image11 {
    height: 250px;
    width: 250px;
    margin-top: 785px;
    /* margin-right: -54px; */
    margin-left: 42px;
    border: 2px red dotted;
    border-radius: 25px;
}
 #image11:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all, 0.3s;
}

#para13{
    color: white;
    margin-left: 78px;
    margin-top: -111px;
    font-size: 22px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
/* button */
.btn {
    height: 64px;
    margin-top: 1100px;
    margin-left: -500px;
    background-color: rgb(86, 86, 255);
    border-radius: 42px;
    cursor: pointer;
    color: white;
    padding: 12px;
    font-size: 23px;
    border: none;
    font-family: cursive;
}
#box2 {
    background-color: #101038;
    width: 1100px;
    height:435px;
    margin-top: 1200px;
    margin-left: -843px;
}
#image12 {
    height: 362px;
    width: 401px;
    margin-left: 678px;
    margin-top: 34px;
}
#para14 {
    color: white;
    margin-left: 78px;
    margin-top: -345px;
    font-size: 87px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
#para15 {
    color: white;
    margin-left: 33px;
    margin-top: -75px;
    font-size: 64px;
    /* background-color: black; */
    /* width: 233px; */
    font-family: cursive;
}
#para16 {
    color: white;
    margin-left: 148px;
    margin-top: -53px;
    font-size: 25px;
    /* background-color: black; */
    /* width: 233px; */
    /* font-family: cursive; */
}
.btn1 {
    background-color: blue;
    margin-left: 153px;
    font-size: 30px;
    border: none;
    color: white;
    border-radius: 36px;
    padding: 8px;
    width: 169px;
    margin-top: -10px;
    cursor: pointer;
}
.btn2 {
    background-color: #8c8c97;
    margin-left: 29px;
    font-size: 30px;
    border: none;
    color: white;
    border-radius: 36px;
    padding: 8px;
    width: 186px;
    margin-top: -10px;
    cursor: pointer;
}
footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
    margin-top:1112px;
    width: 98%;
    margin-left: -8px;
    height: 251px;
}
h4{
    font-size: 40px;
}
.center{
    text-align: center;
}

#ul2{
    display: flex;
    flex-direction: row;
    margin-left: 130px;

}
#li2 {
    margin-left: 92px;
}
h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}